
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
</div>
<form id="frm">
    <div class="form-group">
        <input type="text" name="user" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Nombre de usuario...">
    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="customCheck">
            <label class="custom-control-label" for="customCheck">Recuerdame</label>
        </div>
    </div>
    <input type="submit" class="btn btn-primary btn-user btn-block" value="Iniciar Sesion" />
    <hr>
    <a href="index.html" class="btn btn-google btn-user btn-block">
        <i class="fab fa-google fa-fw"></i> Iniciar Sesion Google
    </a>
    <a href="index.html" class="btn btn-facebook btn-user btn-block">
        <i class="fab fa-facebook-f fa-fw"></i> Iniciar Sesion Facebook
    </a>
</form>
<hr>
<div class="text-center">
    <a class="small" href="@Url.Action("ForgotPass", "Access")">¿Se te olvidó tu contraseña?</a>
</div>
<div class="text-center">
    <a class="small" href="@Url.Action("Index", "Register")">¡Crea una cuenta!</a>
</div>




@section scripts{
<script>
    $(document).ready(function () {
        $("#frm").submit(function (e) {
            e.preventDefault();

            //el arroba nos conecta con el controlador y el metodo llamado Enter
            url = "@Url.Content("~/Access/Enter")"

            //nos da los atributos del html serializados
            parametros = $(this).serialize();

            //peticion
            $.post(url, parametros, function (data) {
                //si es uno es exitosa
                if (data == "1") {
                    document.location.href = "@Url.Action("Index", "Home")";
                } else {
                    alert(data)
                }
            })
        })
    })

</script>
}



