
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <form id="frm">
        <div class="col-lg-6 col-lg-offset-3">
            Usuario
            <input type="text" name="user" />
            Password
            <input type="password" name="password" />
            <input type="submit" class="btn btn-success" value="Ingresar" />
        </div>
    </form>
</div>




@section scripts{
<script>
    $(document).ready(function () {
        $("#frm").submit(function (e) {
            e.preventDefault();

            //el arroba nos conecta con el controlador y el metodo llamado Enter
            url = "@Url.Content("~/Access/Enter")"

            //nos da los atributos del html serializados
            parametros = $(this).serialize();

            //peticion
            $.post(url, parametros, function (data) {
                //si es uno es exitosa
                if (data == "1") {
                    document.location.href = "@Url.Content("~/")";
                } else {
                    alert(data)
                }
            })
        })
    })

</script>
}



